PORT=9000

### Interpol
INTERPOL_NOMINALS_ENDPOINT=
INTERPOL_WS_USERINFO_USERNAME=
INTERPOL_WS_USERNAME_VERSION=
INTERPOL_NOMINAL_USERNAME=
INTERPOL_NOMINAL_PASSWORD=
INTERPOL_ENQUIRIES_REFERENCE=
INTERPOL_REFERENCE_IN_COUNTRY=

INTERPOL_SLTD_ENDPOINT=
INTERPOL_SLTD_USERNAME=
INTERPOL_SLTD_PASSWORD=

IC_API_URL=
IC_API_STUGOX=
IC_API_USER_NAME=
IC_API_USER_ID=
IC_API_USER_PASSWORD=

### DB PostgreSQL
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_NAME=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=