PORT=9000

### Interpol
INTERPOL_NOMINALS_ENDPOINT=
INTERPOL_WS_USERINFO_USERNAME=
INTERPOL_WS_USERNAME_VERSION=
INTERPOL_NOMINAL_USERNAME=
INTERPOL_NOMINAL_PASSWORD=
INTERPOL_ENQUIRIES_REFERENCE=
INTERPOL_REFERENCE_IN_COUNTRY=

INTERPOL_SLTD_ENDPOINT=
INTERPOL_SLTD_USERNAME=
INTERPOL_SLTD_PASSWORD=

IC_API_URL=
IC_API_STUGOX=
IC_API_USER_NAME=
IC_API_USER_ID=
IC_API_USER_PASSWORD=

### Ekeng Integration
EKENG_API_URL=
### Cadastre Integration
KADASTR_URL=
KADASTR_CERTIFICATE_URL=

### MCS Integration
MCS_ADDRESS_CATALOGS_API_URL=
MCS_SEARCH_PERSONS_API_URL=

### Ministry of Justice Integration
MOJ_CES_API_URL=

### Tax Service Integration
TAX_SERVICE_API_URL=

### State Population Register Integration
STATE_POPULATION_REGISTER_API_URL=

### Sekt Integration
SEKT_API_URL=
SEKT_API_AUTHORIZATION=
SEKT_API_COOKIES=

### Civil Acts Registration Service Integration
CIVIL_ACTS_REGISTRATION_SERVICE_API_URL=

### DB PostgreSQL
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_NAME=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=
